#mainCol {
    background-color: transparent;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#mainCol_title{
    color: white;
    font-size: 80px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
#mainCol_subtitle{
    color: rgb(181, 180, 180);
    text-align: center;
    font-size: 15px;
}